# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Android
local.properties
*.iml
.idea/
.cxx/
.externalNativeBuild/
*.jks
keystore.properties

# OS
.DS_Store

# JVM
*.log
hs_err_pid*
